#header-div{
    width: 63rem;
    display: flex;
}
#header-img{
    height: 17em;
    width: auto;
}
#header-img-div{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}
#title{
    width: 10em;
}
.phone-slide,.btn-div, #hint{
    height: 43.5%;
    top: -18%;               
    left: 0;              
}
.btn-div{
    width: 45em;
}

/*------text color change----*/
#web35-reveal-text{
    color: #008156;
}
#web35-reveal-text::after, #web35-dash{
    background-color: #008156;
}
#web35-underline--magical {
    background-image: linear-gradient(120deg, #008156 0%, #008156 100%);
}

#mirim-reveal-text{
    color: #ffe431;
}
 #mirim-dash{
    background-color: #ffe431;
}
#mirim-reveal-text::after
,#mirim-underline--magical {
    background-image: linear-gradient(120deg, #ffe431 0%, #ffe431 100%);
}
#mirim-subheading{
    height: 14.5em;
}

@media only screen and (max-width: 65rem) {
    #header-div {
        width: 90%;
        max-width: 50rem;
     }
     #title{
         height: 4em;
         bottom: -2em;
     }
     #header-img-div,#title{
         width: 100%;
         padding: 0;
     }
     #mirim-reveal-text{
         width: 10em;
     }
     #header-img{
         margin: 0 auto;
     }

     
}


@media only screen and (max-width: 55rem) {
    #detail-phone{
        width: 40em;
        height: auto;
    }
    #btn-div{
        width: 40em;
    }
    .phone-slide,#hint{
        width: 37em;
        height: auto;
        top:-8.6rem;
    }
}
@media only screen and (max-width: 42rem) {
    #detail-phone{
        width: 30em;
        height: auto;
    }
    #btn-div{
        width: 30em;
    }
    .phone-slide,#hint{
        width: 28em;
        height: auto;
        top:-6.5rem;
    }
}