html,body{
    margin: 0px;
    padding: 0px;
    color: #444444;
}
html, body, .container {height:100%; margin:0; box-sizing:border-box; -moz-box-sizing:border-box;}
article{
    height: 100%;
}
.container{
    position:relative;
}
#home-box{
    width: 90%;
}
#home-sentence-div{
    width: 50%;
    float: left;
    text-align: right;
}
#home-img-div{
    width: 50%;
    float: left;
}
#home-sentence{
    width: 20em;
    font-size: 1.5em;
    text-align: center;
    padding-right: 0.25em;
    padding-left: 0.5em;
    float: right;
}
#image-hr{
    width: 70%;
}
#home{
    width: 100%;
    height: 20em;
    text-align: left;
    position: absolute; 
    top: 50%;
    left:50%;
    margin-top: -10em;
    margin-left: -50%;
}
#main-img{
    width:27em;
}
#motto-text{
    font-size: 1.7em;
    text-align: center;
    height: 3.6em;
    width: 100%;
    position: absolute; 
    top: 50%;
    left:50%;
    margin-top: -2em;
    margin-left: -50%;
    line-height: 175%;
}
#highlight{
    font-size: 1.2em;
    color: #73A0FF;
}
#motto-text a:link, #motto-text a:visited{
    color: #444444;
    font-size: 0.9em;
}
#app-text{
    display: inline-block;
    font-size: 1.3em;
}
#more-app-btn{
    float: right;
    font-size: 1.2em;
    background-color: rgba( 255, 255, 255, 0 );
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    margin-top: 3px;
}
#more-app-btn a:link, #more-app-btn a:visited{
    color: #707070;
}

#more-app-btn a:hover {
    color: #73A0FF;
}
#app-header{
    padding-top: 2em;
    position: absolute;
    left: 1em;
    right: 1em;
    z-index: 1;
    overflow: hidden;
}

/*----------------*/
.mySlides,.mySlides2 {display: none; height: 100%;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  height: 100%;
  top: 0px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #606060;
  font-weight: bold;
  font-size: 2.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: #60606067;
}

/* Caption text */
.text {
  color: #444444;
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  text-align: left;
  display: inline-block;
  right: 0;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*------글길-------*/
.sim-button, .todol-button, .oh-button, .ha-button, .ohWeb-button, .mirimWeb-button, .web35-button{
	line-height: 2.7em;
	text-align: center;
	margin: auto;
	margin-top: 2em;
	width: 9.5em;
	cursor: pointer;
	background-color: #88ACFF;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
    outline: none;
    position: absolute;
    bottom: 7%;
    right: 9%;
    
}
.button1, .todol-btn, .oh-btn, .ha-btn, .ohWeb-btn, .mirimWeb-btn, .web35-btn, .mail-btn {
	color: #FFF;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border: 1px solid #88ACFF;
    font-size: 1em;
}
.button1:hover, .todol-btn:hover, .oh-btn:hover, .ha-btn:hover,.ohWeb-btn:hover, .mirimWeb-btn:hover, .web35-btn:hover, .mail-btn:hover {
	background-color: #FFF;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;	
	color: #88ACFF;
}

#gulegil-phone, #todols-phone{
    width: auto;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5%;
    margin-left: -4%;
}

#content-box{
    position: absolute;
}
#gulegil-box,#todols-box{
    width: 55em;
    height: 65%;
    bottom: 13%;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}
/*---------Todols-----*/
#todols-main{
    position: absolute;
    left: 1.25em;
    top: 10%;
    z-index: -1;
    width: auto;
    height: 80%;

}

.todol-button{
	background-color: #FFD1FF;
    
}
.todol-btn {
	color: #FFF;
	border: 1px solid #FFD1FF;
}
.todol-btn:hover {
	background-color: #FFF;
	color: #FFD1FF;
}

#todols-phone{
    margin-top: 1%;
    margin-left: -2%;
}

/*-------ohdomitory-------*/
#ohdomitory-main{
    position: absolute;
    left: 1em;
    top: 12.3%;
    z-index: -1;
    width: auto;
    height: 75%;
}
.oh-button{
	background-color: #fcd15a;
    
}
.oh-btn {
	color: #FFF;
	border: 1px solid #fcd15a;
}
.oh-btn:hover {
	background-color: #FFF;
	color: #fcd15a;
}
/*--------------*/
#guelgil-main{
    position: absolute;
    left: 0.5em;
    top: 12.3%;
    z-index: -1;
    width: auto;
    height: 79.2%;
}
#haengbook-main{
    position: absolute;
    left: 0.8em;
    top: 12.3%;
    z-index: -1;
    width: auto;
    height: 80.5%;
}

.ha-button{
	background-color: #f7961d;
    
}
.ha-btn {
	color: #FFF;
	border: 1px solid #f7961d;
}
.ha-btn:hover {
	background-color: #FFF;
	color: #f7961d;
}
/*-----WEb----*/
#oh-web{
    width: auto;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5%;
    margin-left: -4%;
}
.web-box{
    width: auto;
    height: 67%;
    bottom: 13%;
    position: absolute;
    left:35%;
    transform:translateX(-50%);
}
.web-text {
    color: #606060;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    text-align: left;
    display: inline-block;
    width: 80%;
    margin-left: 2em;
  }
  #web-main{
    position: absolute;
    left: 0em;
    top: 9.5%;
    z-index: -1;
    width: auto;
    height: 62%;
  }
  
.ohWeb-button{
	background-color: #96B5C3;
    
}
.ohWeb-btn {
	color: #FFF;
	border: 1px solid #96B5C3;
}
.ohWeb-btn:hover {
	background-color: #FFF;
	color: #96B5C3;
}


.mirimWeb-button{
	background-color: #008256;
    
}
.mirimWeb-btn {
	color: #FFF;
	border: 1px solid #008256;
}
.mirimWeb-btn:hover {
	background-color: #FFF;
	color: #008256;
}


.web35-button{
	background-color: #A5A5A5;
    
}
.web35-btn {
	color: #FFF;
	border: 1px solid #A5A5A5;
}
.web35-btn:hover {
	background-color: #FFF;
	color: #A5A5A5;
}


.mail-button{
	background-color: #707070;
	text-align: center;
    line-height: 2.2em;
	margin-top: 1em;
	width: 8em;
	cursor: pointer;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.13);
    outline: none;
    font-size: 0.8em;
}
.mail-btn {
	color: #FFF;
	border: 1px solid #707070;
}
.mail-btn:hover {
	background-color: #FFF;
	color: #707070;
}



.cl-effect-11 a {
	padding: 10px 0;
	border-top: 2px solid #0972b4;
	color: #0972b4;
	text-shadow: none;
} 

.cl-effect-11 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 100%;
}



    @media only screen and (max-width: 55em) {
        #gulegil-phone{
            height: 78%;
            width: auto;
            text-align: center;
            margin:  0 auto;
            display: block;
        }
        #gulegil-box{
            width: 80%;
        }
        .text {
            width: 100%;
            left: 1em;
            padding-top: 1em;
        }
        #todols-main{
            height: 62%;
            width: auto;
            text-align: center;
            margin:  0 auto;
            display: block;
            position: relative;
            top: -70%;
            left: -0%;
        }
/* For mobile phones: */
    #home-sentence-div{
        width: 100%;
        height: 43%;
        position: absolute;
        z-index: 1;
        font-size: 2em;
        position: absolute; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0;
        margin: auto; 
    }
    #home-img-div{
        width: 100%;
        position: relative;
    }
    #home{
        margin-top: 0;
    }
    #main-img{
        width:30em;
        display: table;
        margin: 0 auto;
    }
    #home-sentence{
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 0.8em;
        margin-top: -3em;
    }
    hr {
        width: 17em;
        color: #ffffff;    /* IE */
        border-color: #ffffff;  /* 사파리 */
        background-color: #ffffff;
    }
}

@media only screen and (max-width: 43em) {
    .text {
        font-size: 1.2em;
     }
}
@media only screen and (max-width: 30em) {
    #home-sentence{
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 0.8em;
        line-height: 90%;
    }
    #main-img{
        width: 100%;
    }
    
}
@media only screen and (max-width: 375px) {
    #home-sentence{
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-size: 0.6em;
        height: 100%;
    }
}