.timeline{
  height: auto;
  padding-bottom: 5rem;
  padding-top: 5rem;
}



.timelineText{
  position:relative;
  height: 3rem;
  margin-top: 10rem;
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
  background-color: #73A0FF;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  height: auto;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 180px;
  height: 3px;
  background: #fff;
  padding-top: 5em;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #7D7D7D;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 300px;
  height: auto;
  padding: 20px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: #fff;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top:-14px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.timeline time+p {
  font-weight: bold;
  color: #73A0FF;
  font-size: 1.1rem;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 10;
  
}
.arrow{
  background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    padding-top: 2rem;
}
.timeline .arrows .arrow__prev {
  margin-right: 30px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

#content{
  width: 400px;
  height: 240px;
  margin: 0 auto;
  
  top: 0;               
  bottom: 0;            
  left: 0;              
  right: 0;             
  margin: auto;
  position: absolute;
}
.flip-container
{
    position:relative;
    -webkit-perspective:1000;
    perspective:1000;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine; 
}

.flip-cards
{
    width:200px;
    height:291px;
    position:relative;
    float:left;    
    margin-left:5px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.flip-cards:hover
{
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}

.flip-cards div
{
    width:200px;
    height:291px;
    position:absolute;
    border-radius:15px;    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin: 0 auto;
}

.front-card img
{
    z-index: 2;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.23);
}

.reverse-card
{
    -webkit-transform: rotateY(180deg);
    transform: rotateY( 180deg );
}
.reverse-card img{
  
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
}